extends /layouts/_default

block content
  main
    form(name='input-form', method='post', action='/', formnovalidate='formnovalidate')
      div.input-table

        section

          dl.input-row.postal-row.required
            dt="Postal Code"
            dd
              div.normal
                input.zip1.numeric(type='text', name='zip1', placeholder='132', title="Postal Code1", pattern='[0-9]*', maxlength="3", data-input-support=JSON.stringify(inputSupportConfig['zip1']))
                | &nbsp;-&nbsp;
                input.zip2.numeric(type='text', name='zip2', placeholder='0034', title='Postal Code2', pattern='[0-9]*', maxlength="4", data-input-support=JSON.stringify(inputSupportConfig['zip2']))

          dl.input-row.postal-row.required
            dt="Zip Code"
            dd
              div.normal
                input.zip(type='text', name='zip', title='Postal Code', data-input-support=JSON.stringify(inputSupportConfig['zip']))

        section

          dl.input-row.required
            dt='Mobile Telephone'
            dd
              input(type='tel', name='mobile-tel1', placeholder='090', title='Mobile Telephone1', pattern='[0-9]*',maxlength="3", data-input-support=JSON.stringify(inputSupportConfig['mobile-tel1']))
              | &nbsp;-&nbsp;
              input(type='tel', name='mobile-tel2', placeholder='1234', title='Mobile Telephone2', pattern='[0-9]*', maxlength="4", data-input-support=JSON.stringify(inputSupportConfig['mobile-tel2']))
              | &nbsp;-&nbsp;
              input(type='tel', name='mobile-tel3', placeholder='5678', title='Mobile Telephone3', pattern='[0-9]*', maxlength="4", data-input-support=JSON.stringify(inputSupportConfig['mobile-tel3']))

          dl.input-row.required
            dt='Telephone'
            dd
              input.normal(type='text', name='tel', placeholder='09012345678', title='Telephone', pattern='[0-9\\+]*', data-input-support=JSON.stringify(inputSupportConfig['tel']))

        section

          dl.input-row.required
            dt='Email'
            dd
              input.long(type='email', name='email', placeholder='（例）tarou@mail.rakuten.com', title='Email', data-input-support=JSON.stringify(inputSupportConfig['email']))

          dl.input-row.required
            dt='Email(confirmation)'
            dd
              input.long(type='email', name='email-confirmation', title='Email(confirmation)', data-input-support=JSON.stringify(inputSupportConfig['email-confirmation']))

        section

          dl.input-row.required
            dt='Credit Card Number'
            dd
              input.numeric.semi-long(type='text', name='credit', placeholder='4111111111111111', title='Credit Card Number', maxlength="19", data-input-support=JSON.stringify(inputSupportConfig['credit']))
              div.card-image
                span.credit-icon.visa
                span.credit-icon.master
                span.credit-icon.jcb
          dl.input-row.required
            dt='Expiry Date'
            dd
              select(name='credit1-month', title='Month')
                - for (var k = 0; k < 12; k++)
                  - var month = k + 1 < 10? '0' + (k + 1): k + 1
                  option(value=(k + 1)) #{month}
              | &nbsp;/&nbsp;
              select(name='credit1-year', title='Year')
                - for (var k = 0; k < 20; k++)
                  - var year = k + 14 < 10? '0' + (k + 14): k + 14
                  option(value=(k + 14)) #{year}
          dl.input-row.required
            dt='Security Number'
            dd
              input.short(type='password', name='credit1-sec-number', placeholder='096', title='Security Number', pattern='[0-9]*', maxlength='3')

        section

          dl.input-row.input-logo.required
            dt='Credit Card Number'
            dd
              input.credit-item.js-credit-item.numeric(type='text', name='credit1', placeholder='4111', title='Credit Card Number1', pattern='[0-9]*', maxlength='4', data-input-support=JSON.stringify(inputSupportConfig['credit1']))
              | &nbsp;
              input.credit-item.js-credit-item.numeric(type='text', name='credit2', placeholder='1111', title='Credit Card Number2', pattern='[0-9]*', maxlength='4', data-input-support=JSON.stringify(inputSupportConfig['credit2']))
              | &nbsp;
              input.credit-item.js-credit-item.numeric(type='text', name='credit3', placeholder='1111', title='Credit Card Number3', pattern='[0-9]*', maxlength='4', data-input-support=JSON.stringify(inputSupportConfig['credit3']))
              | &nbsp;
              input.credit-item.js-credit-item.numeric(type='text', name='credit4', placeholder='1111', title='Credit Card Number4', pattern='[0-9]*', maxlength='4', data-input-support=JSON.stringify(inputSupportConfig['credit4']))

              div.card-image
                span.credit-icon.visa
                span.credit-icon.master
                span.credit-icon.jcb
          dl.input-row.required
            dt='Expiry Date'
            dd
              select(name = 'credit2-month', title='Month')
                - for (var k = 0; k < 12; k++)
                  - var month = k + 1 < 10? '0' + (k + 1): k + 1
                  option(value=(k + 1)) #{month}
              | &nbsp;/&nbsp;
              select(name = 'credit2-year', title='Year')
                - for (var k = 0; k < 20; k++)
                  - var year = k + 14 < 10? '0' + (k + 14): k + 14
                  option(value=(k + 14)) #{year}
          dl.input-row.required
            dt='Security Number'
            dd
              input.short(type='password', name='credit2-sec-number', placeholder='096', title='Security Number', pattern='[0-9]*', maxlength="3")

        section

          dl.input-row
            dt='Convert all to half'
            dd
              input(type='text', name='all2half', title='all to half', data-input-support=JSON.stringify(inputSupportConfig['all2half']))

          dl.input-row
            dt='Convert all kana to half kana'
            dd
              input(type='text', name='allKana2halfKana', title='all kana to half kana', data-input-support=JSON.stringify(inputSupportConfig['allKana2halfKana']))

          dl.input-row
            dt='Convert half to all'
            dd
              input(type='text', name='half2all', title='half to all', data-input-support=JSON.stringify(inputSupportConfig['half2all']))

          dl.input-row
            dt='Convert half kana to all kana'
            dd
              input(type='text', name='halfKana2AllKana', title='half kana to all kana', data-input-support=JSON.stringify(inputSupportConfig['halfKana2AllKana']))

        section

          dl.input-row.required
            dt='Email'
            dd
              input.long(type='email', name='remove', placeholder='（例）tarou@mail.rakuten.com', title='Email', data-input-support=JSON.stringify(inputSupportConfig['remove']))

          dl.input-row.required
            dt='Email(confirmation)'
            dd
              input.long(type='email', name='remove2', title='Email(confirmation)')

block script
  script(src='js/vendor/jquery/jquery.min.js')
  script(src='js/polyfill.js')
  script(src='js/input-supporter.js')
  script(src='js/execute.js')
